<div class="header">
  <a href="#https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRHGe2ep743_JN8eh5PutywaV1nI18mgSV2Zw&usqp=CAU" class="logo"></a>
  <div class="header-right">

   </div>
</div>  
<div style="text-align:center">  
  <h1>  
    Welcome to
  </h1>  
  <img width="300" alt="Angular Logo" src="https://th.bing.com/th/id/OIP.ae_yXUZOLCCCd-_1g1YJ2QHaDG?pid=Api&rs=1">  
</div>  
<h2>Cart apps: </h2>  
<ul>  
  <li>  
    <h2><a target="_blank" rel="noopener" href="https://www.flipkart.com">Flipkart</a></h2>  
  </li>  
  <li>  
    <h2><a target="_blank" rel="noopener" href="https://www.amazon.in">Amazon</a></h2>  
  </li>  
  <li>  
    <h2><a target="_blank" rel="noopener" href="https://www.snapdeal.com">Snapdeal</a></h2>  
  </li>  
</ul>
<h2>Paying apps</h2> 
<ul>  
  <li>  
    <h2><a target="_blank" rel="noopener" href="https://www.phonepe.com/">Phonepe</a></h2>  
  </li>  
  <li>  
    <h2><a target="_blank" rel="noopener" href="https://paytm.com/">Paytm</a></h2>  
  </li>   
</ul>